<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Demo.Invoify.Utils.listeners"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="Demo.Invoify.tests.test_FormAndTo" />
			<class name="Demo.Invoify.tests.test_InvoiceDetail" />
			<class name="Demo.Invoify.tests.test_LineItems" />
			<class name="Demo.Invoify.tests.test_PaymentInfo" />
			<class name="Demo.Invoify.tests.test_SummaryPage" />
			<class name="Demo.Invoify.tests.test_PreviewPage" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->